* {
    text-decoration: none;
    list-style: none;
}




.btnbtn-primary{
    color: #60A97C
}


.textoBranco {
    color: rgb(30, 34, 41);
    text-decoration: none;
    text-align: center;
}
.textoBranco2 {
    color: #437259;
    text-decoration: none;
    text-align: center;
}

.fundoBackground {
    background-color: #C4DF9C;
    width: 100vw;
 
    margin-bottom: 50px;
  
     padding: 10px;  
    text-align: center;
    text-decoration: none;
}

.fundoBackground2 {
    background-color: #DFEDCA;
    width: 150vw;
    opacity: 0.8;
    margin-bottom: 50px;
    border-radius: 15px;
     padding: 10px;  
    text-align: center;
    text-decoration: none;
}



/* Index */

#imgBorda {
    position: relative;
    border: 6px solid #fff;
    top: 30px;
    right: 100px;
}

.fundoServico {
    background-color: #DFEDCA;

    opacity: 0.8;
    margin-bottom: 50px;
    border-radius: 15px;
     padding: 10px;  
    text-align: center;
    text-decoration: none;
}
.fundoServico:hover {
    background-color: #DFEDCA;

}

.fundoServico h3 {
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
}
.fundoServico h5 {
    font-size: 1.3rem;
    color: #000000;
    text-decoration: none;
}
.fundoServico p {
    font-size: 1.1rem;
    color: #000000;
    text-decoration: none;
}

.fundoServico h4 {
    font-size: 1.5rem;
    color: #60A97C;
    text-decoration: none;
}





.textoBanner {
    background-color: rgb(255, 255, 255);
    margin: 80px 0px 80px 0px; 
     padding: 30px 80px 50px 30px;
    font-size: 15px;
    text-align: left;
    position: relative;
}



.textoBanner {
    background-color: #DFEDCA;
    margin: 80px 0px 80px 0px; 
     padding: 30px 80px 50px 30px;
    font-size: 20px;
    text-align:center;
    position: relative;
}
.card-img-overlay {
    background-color: #C4DF9C;
    padding: 20px; 
    text-align: center;
}

.card {
    width: 100vw;
}

